In [2]:
import pandas as pd


df = pd.read_excel('../data/test.xlsx')

In [3]:
df.head(10)

,name,jobtitle,email address,40+ VacationHours
0,Ken Sánchez,Chief Executive Officer,ken0@adventure-works.com,99
1,Rob Walters,Senior Tool Designer,rob0@adventure-works.com,48
2,Dylan Miller,Research and Development Manager,dylan0@adventure-works.com,61
3,Diane Margheim,Research and Development Engineer,diane1@adventure-works.com,62
4,Gigi Matthew,Research and Development Engineer,gigi0@adventure-works.com,63
5,Kevin Brown,Marketing Assistant,kevin0@adventure-works.com,42
6,John Wood,Marketing Specialist,john5@adventure-works.com,48
7,Mary Dempsey,Marketing Assistant,mary2@adventure-works.com,43
8,Wanida Benshoof,Marketing Assistant,wanida0@adventure-works.com,41
9,Terry Eminhizer,Marketing Specialist,terry0@adventure-works.com,44